footer.main-footer.footer
	.container
		.row
			.col-xl-6.col-lg-8.col-md-8
				.row.justify-content-between.align-items-center

					.footer__el.col-md-5.col-sm-6._js-animated._js-animated--footer1
						.footer__logo.logo
							.logo__part.logo__one-part Content
							.logo__part.logo__two-part Binet.__.pro
								span 1000
							.logo__three-part Биржа копирайтеров

					.footer__el.col-md-7.col-sm-6._js-animated._js-animated--footer2
						.footer__main-link.main-link
							a(href="/").main-link__el.link Binet.__.pro
							.main-link__el.link__desc Медиахолдинг

			.col-xl-6.col-lg-4.col-md-4
				.row.justify-content-end

					.footer__el.map-links.col-xl-6._js-animated._js-animated--footer3
						ul.map-links__list
							li.map-links__el
								a(href="/?page_system=about") О бирже
							li.map-links__el
								a(href="/?page_system=agreement") Пользовательское соглашение
							li.map-links__el
								a(href="/?page_system=contacts") Контакты
							//li.map-links__el
							//    a(href="/?partner=yes") Партёрская программа
							li.map-links__el.link--webmoney
								a(href="/")
									img(src="img/wm.jpg")
							li.map-links__el
								a(href="https://passport.webmoney.ru/asp/CertView.asp?wmid=118136986818") Проверить аттестат
