@font-face {
	font-family: 'GothaProMed';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/GothaPro/gothapromed-webfont.eot');
	src: url('../fonts/GothaPro/gothapromed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GothaPro/gothapromed-webfont.woff2') format('woff2'), url('../fonts/GothaPro/gothapromed-webfont.woff') format('woff'), url('../fonts/GothaPro/gothapromed-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'GothaProBol';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/GothaPro/gothaprobol-webfont.eot');
	src: url('../fonts/GothaPro/puzat_fonts/gothaprobol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GothaPro/gothaprobol-webfont.woff2') format('woff2'), url('../fonts/GothaPro/gothaprobol-webfont.woff') format('woff'), url('../fonts/GothaPro/gothaprobol-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'GothaProReg';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/GothaPro/gothaproreg-webfont.eot');
	src: url('../fonts/GothaPro/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GothaPro/gothaproreg-webfont.woff2') format('woff2'), url('../fonts/GothaPro/gothaproreg-webfont.woff') format('woff'), url('../fonts/GothaPro/gothaproreg-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'GothaProLig';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/GothaPro/gothaprolig-webfont.eot');
	src: url('../fonts/GothaPro/gothaprolig-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GothaPro/gothaprolig-webfont.woff2') format('woff2'), url('../fonts/GothaPro/gothaprolig-webfont.woff') format('woff'), url('../fonts/GothaPro/gothaprolig-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'GothaProBlack';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/GothaPro/gothaproblack-webfont.eot');
	src: url('../fonts/GothaPro/gothaproblack-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GothaPro/gothaproblack-webfont.woff2') format('woff2'), url('../fonts/GothaPro/gothaproblack-webfont.woff') format('woff'), url('../fonts/GothaPro/gothaproblack-webfont.ttf') format('truetype');
}
