@import "../../../node_modules/slick-carousel/slick/slick.scss";

.slick-list {
	transition: height .2s;
}

.slick-slider {
	* {
		&:focus {
			outline: none;
		}
	}
}

ul.slick-dots {
	font-size: 0;
	padding: 0;
	//margin: 0;
	text-align: center;
	position: absolute;
	width: 100%;
	margin: 15px 0 0;
	li {
		display: inline-block;
		padding: 5px;
		&.slick-active {
			button {
				background: $theme-color;
			}
		}
		button {
			cursor: pointer;
			transition: .2s;
			background: #fff;
			width: 12px;
			height: 12px;
			//margin: 0 10px;
			border: none;
			border-radius: 50%;
		}
	}
}