section.mp-section.mp-section--constructor.constructor
    .container
        h2.section-title.constructor__title._js-animated._js-animated--constructor1 УЗНАЙТЕ, СКОЛЬКО  СМОЖЕТЕ ЗАРАБОТАТЬ
        .row.align-items-start
            .col-lg-7.col-md-8.col.constructor__selection._js-animated._js-animated--constructor2
                .selection__el#constructor__money-rate
                    h3.selection__title Выберите размер ставки за 1000 знаков.
                    p Ставка зависит от количества ключевых слов на статью. Чем лучше вы пишете, тем сложнее задачи можете брать в работу, и тем выше ставка.
                    .selection__item.active
                        span.number 40
                        span.number-desc &nbsp;Руб.
                    .selection__item
                        span.number 45
                        span.number-desc &nbsp;Руб.
                    .selection__item
                        span.number 50
                        span.number-desc &nbsp;Руб.
                    .selection__item
                        span.number 60
                        span.number-desc &nbsp;Руб.
                .selection__el
                    h3.selection__title Укажите, сколько статей в день вы планируете писать.
                    p Ориентировочный размер статьи - 6 000 зн.
                    #constructor
                        .slider-numbers
                            .slider-numbers__el#slider-numbers__el--1 1
                            .slider-numbers__el#slider-numbers__el--2 2
                            .slider-numbers__el#slider-numbers__el--3 3
                            .slider-numbers__el#slider-numbers__el--4 4
                            .slider-numbers__el#slider-numbers__el--5 5
                        #constructor__slider
                .selection__el#constructor__money-bonus
                    h3.selection__title Уверены, что пишите качественно? Тогда приплюсуйте себе бонус.
                    .selection__item.selection__item--can-change
                        span.number-desc +
                        span.number 5
                        span.number-desc %
                    .selection__item.selection__item--can-change
                        span.number-desc +
                        span.number 10
                        span.number-desc %
                    .selection__item.selection__item--can-change
                        span.number-desc +
                        span.number 15
                        span.number-desc %
            .col-lg-4.col-md-4.ml-md-auto.constructor__result.result._js-animated._js-animated--constructor3
                .result__wrapper.js-waypoint
                    .result__el#constructor__money-sum--7
                        h3.selection__title Заработок за 7 дней
                        span.sum#_js-constructor7__count 0
                        span руб.
                    .result__el#constructor__money-sum--30
                        h3.selection__title Заработок за 30 дней
                        span.sum#_js-constructor30__count 0
                        span руб.
