mixin slider__el(obj)
    .slider__el
        .slider__wrapper.d-flex
            .slider__img.img
                .img__wrapper
                    img(src= obj.img)
                .img__title= obj.name
            .slider__content
                if obj.title != undefined
                    .slider__title= obj.title
                .slider__text= obj.text

section.mp-section.mp-section--reviews.reviews
    .container
        h2.section-title.reviews__title.title._js-animated._js-animated--reviews1 Отзывы о бирже
            .title__desc Что говорят авторы прежней версии CONTENT.BINET.PRO
    .container.reviews__container
        .row.justify-content-center
            .bg__part.bg__part--left
                .part__wrapper._js-animated._js-animated--reviews2

            .bg__part.bg__part--right
                .part__wrapper._js-animated._js-animated--reviews4

            .col-lg-10
                .reviews__slider.slider.d-flex.flex-wrap._js-animated._js-animated--reviews3
                    .slider__nav.nav.d-flex.align-items-center.justify-content-sm-end.justify-content-center
                        .nav__part.nav__btn.nav__btn--prev
                            .part__wrapper
                        .nav__part.nav__current-slide
                            .part__wrapper
                                span.current
                                | &nbsp;из&nbsp;
                                span.all
                        .nav__part.nav__btn.nav__btn--next
                            .part__wrapper
                    .slider__body
                        +slider__el({
                            img: 'img/reviews/_vasily.jpeg',
                            name: 'Василий Голубниченко',
                            title: 'Здесь уважают труд автора.',
                            text: 'Раньше я в порядке ознакомления пробовал сотрудничать с другими биржами и утверждаю совершенно ответственно: Content.binet.pro - наилучший проект. Самое ценное для меня то, что здесь уважительно относятся к труду автора. Лучшее тому доказательство - обновленная биржа с повышением расценок, появлением плана в ТЗ и другими нововведениями для повышения качества и релевантности статей.'
                        })
                        +slider__el({
                            img: 'img/reviews/_denisova.jpeg',
                            name: 'Алина Денисова',
                            title: 'На сегодняшний день один из лучших проектов.',
                            text: 'Понятные задания, реальные сроки и требования, достойная оплата без задержек. Но самое главное, что нет необходимости сидеть и ждать работы. Есть время - берешь задание и пишешь. Для меня - мамы двоих маленьких детей, это стало главным преимуществом сервиса.'
                        })
                        +slider__el({
                            img: 'img/reviews/_chayka.jpeg',
                            name: 'Юлия Чайка',
                            title: 'С копирайтингом знакома более 4-х лет.',
                            text: 'С Бинетом сотрудничаю 1 год. За это время успела полюбить здешнюю работу. Все честно и прозрачно. Можно планировать свое рабочее время и не зависеть от назойливых начальников. Обновления и золотая 1000 - способ развиваться и идти в ногу с современными требованиями копирайтинга.'
                        })
                        +slider__el({
                            img: 'img/reviews/_kazakova.jpeg',
                            name: 'Светлана Казакова',
                            title: 'Сontent.binet.pro - уникальная биржа!',
                            text: 'Другой такой на просторах инета просто не существует! Работаю на ней уже несколько лет, получая от этого огромное удовольствие и хорошее материальное вознаграждение. Техподдержка очень к нам внимательна, всегда помогает в решении каких-то насущных проблем. Отдельное спасибо за это!'
                        })
                        +slider__el({
                            img: 'img/reviews/_moroz.jpeg',
                            name: 'Ирина Мороз',
                            title: 'Сотрудничество с  биржей началось в 2013 году',
                            text: 'Этот ресурс является идеальным для людей, которые зарабатывают себе на жизнь копирайтингом. Здесь всегда есть большое количество заказов на разные темы. Чтобы взять понравившуюся статью в работу, достаточно просто зарезервировать её за собой, нажав на соответствующую кнопку. Заказы составлены по одинаковому техническому заданию, поэтому писать их несложно. Положительными моментами в работе на бирже также считаю быструю проверку текстов, еженедельные выплаты и отзывчивую техподдержку, которая оперативно помогает решать проблемы, возникающие в процессе написания текстов.'
                        })
                        +slider__el({
                            img: 'img/reviews/_kasperchuk.jpeg',
                            name: 'Елена Касперчук',
                            title: 'Почему именно Сontent.binet.pro?',
                            text: 'На бирже есть выбор заказов разной сложности и стоимости, приемлемые сроки выполнения и самое главное - не надо ждать, когда тебя выберут заказчики, ты сам выбираешь понравившуюся тему.'
                        })
                        +slider__el({
                            img: 'img/reviews/prohorova.jpeg',
                            name: 'Екатерина Прохорова',
                            title: 'Сontent.binet.pro стал для меня стартом',
                            text: 'Здорово, когда человек может делиться своими знаниями с аудиторией. С удовольствием в свободное время пишу о финансах. Если вам есть что сказать аудитории – Контент Бинет Про станет для вас лучшим местом. Среди достоинств проекта могу назвать большой выбор тем, строго установленные правила написания статей. Отдельно отмечу быструю проверку. Контент Бинет стал для меня стартом. Благодаря этому проекту я серьезно повысила свой уровень, теперь пишу в свой блог и принимаю участие в словесках.'
                        })
                        //- +slider__el({
                        //-     img: 'img/ALESHA.jpg',
                        //-     name: 'Алексей Коркач',
                        //-     title: 'Копирайтингом занимаюсь около 3 лет.',
                        //-     text: 'Встречались разные заказчики. С данным сервисом работаю 4 месяца. Все предельно честно. ' +
                        //-     'Задания все разжеванные. Бери и делай. По выплатам не было ни одной задержки. Спасибо за сотрудничество.'
                        //- })
                        //- +slider__el({
                        //-     img: 'img/cote.png',
                        //-     name: 'Котэ Великолепный',
                        //-     title: 'Захотел спать - пошел спать',
                        //-     text: 'Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. ' +
                        //-           '3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.'
                        //- })